.hero {
    background: url("../image/hero__image.png") center no-repeat;
    height: 100vh;
}

.studio {
    padding: 220px 0 0 0;
    text-align: center;
}

.studio__suptitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--color-white);
}

.studio__title {
    padding: 20px 0 50px;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    color: var(--color-white);
}
