.mobile-app {
    padding-top: 110px;
}

.mobile__description {
    padding: 50px 0 70px;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: var(--color-gray);
    text-align: center;
}
.mobile__title {
    text-align: center;
}
.mobile__suptitle {
    padding-bottom: 12px;
}
.mobile__inner {
    text-align: left;
}
.mobile-app .col-4 {
    display: flex;
}
.mobile-app .col-4 svg {
    min-width: 90px;
    margin: -38px 18px 0;
}
.mobile__btn {
    margin: 55px 0 100px;
}
.mobile-app .container {
    text-align: center;
}
.mobile-app .col-4 .description{
    text-align: left;
}
