@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap");

@import './variables.css';
@import './components.css';
@import './header.css';
@import './hero.css';
@import './mobile.css';
@import './standard.css';
@import './work.css';
@import './project.css';
@import './footer.css';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat';
    font-style: normal;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

@media screen and (max-width: 576px) {
    .container {
        padding: 0 22px;
    }
    main{
        overflow: hidden;
    }
}